@model ResetPasswordViewModel

<div class="row mb-3">
    <div class="col">
        <h1 class="display-4">Reset Password</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div><b>Username : </b>@Model.Username</div>
        <div class="mt-2">
            <form method="post">
                <label asp-for="Password" class="form-label">New Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger small"></span>
                <div><button type="submit" class="btn btn-primary mt-2 btn-sm">Save</button></div>
            </form>
        </div>
    </div>
</div>