<div class="row mt-5 pt-5">
    <div class="col text-center">
        <h1 class="display-2">Access Denied</h1>
        <hr />
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>
</div>