@model BrandCreateViewModel

<partial name="_PageTitlePartial" model="@("Create New Brand")" />

<div class="row mb-3">
    <div class="col">

        <form method="post">

            <div class="form-group mb-3">
                <label class="form-label" asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" placeholder="BMW" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description" placeholder="BMW" />
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Hidden">
                    <label class="form-check-label" asp-for="Hidden">Hidden</label>
                </div>
            </div>

            <div class="form-group mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                </div>
            </div>

        </form>

    </div>
</div>