@model LoginViewModel

<div class="" style="margin-top:200px">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Admin</h3>
            </div>
            <form method="post">
                <div class="p-4">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <input asp-for="Username" class="form-control" placeholder="username">
                        </div>
                        <span class="text-muted small">default : admin</span>
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-key-fill text-white"></i>
                            </span>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <span class="text-muted small">default : admin123</span>
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    <div class="input-group mb-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                    </div>

                    <button class="btn btn-primary text-center mt-2 w-100" type="submit">
                        Login
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>