@{
    ViewData["Title"] = "Rents";
}

@section Styles{
    <style>
        .bi-2x {
            font-size: 1.5em;
        }

        .bi-spin {
            position: absolute;
            animation-name: spin;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .loader-text {
            height: 16px;
            padding-left: 34px;
            vertical-align: middle;
            display: inline-block;
        }

        @@keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>
}

<partial name="_PageTitlePartial" model="@ViewData["Title"]" />

<div class="row mb-3">
    <div class="col-6">
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreate" onclick="loadCreateModal()">Rent A Car</button>
    </div>
    <div class="offset-3 col-3">
        <select id="filter" class="form-select" onchange="filterChanged()">
            <option value="none">All</option>
            <option value="received">Received</option>
            <option value="nonreceived">Non-Received</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="rents-loader" class="loader mb-5" style="display:none;">
            <i class="bi bi-arrow-repeat bi-2x bi-spin"></i><span class="loader-text"> loading..</span>
        </div>
        <div id="rents">
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCreate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">New Rent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="modalCreateBody" class="col">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveRent()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDesc" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Car Description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="modalDescBody">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalReceive" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Car Receive</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="modalReceiveBody" class="modal-body">
            </div>
            @* <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Teslim Al</button>
            </div>*@
        </div>
    </div>
</div>



@section Scripts{
    <script>

        function loadCreateModal() {
            $("#modalCreateBody").load("/Admin/Rent/GetCreatePartial");
        }

        function saveRent() {
            var mb = $("#modalCreateBody");

            var carId = mb.find("#CarId").val();
            var custId = mb.find("#CustomerId").val();
            var km = mb.find("#KM").val();
            var price = mb.find("#Price").val();
            var recDate = mb.find("#ReceivedDate").val();
            var desc = mb.find("#Description").val();

            var data = {
                "CarId": carId,
                "CustomerId": custId,
                "KM": km,
                "Price": price,
                "ReceivedDate": recDate,
                "Description": desc
            };

            mb.load("/Admin/Rent/Create", data, function () {
                loadRents(null);
            });
        }

        function selectedCarChanged() {
            var carId = $("#CarId").val();
            var url = "/Admin/Rent/GetPriceData?carId=" + carId;

            $.get(url, function (data) {
                $("#Price").val(data);
            });
        }

        $(function () {
            //$("#modalCreate .modal-body .col")
            //$("#modalCreateBody").load("/Admin/Rent/GetCreatePartial");
            loadRents(null);
        });

        function loadRents(filter) {
            $("#rents").empty();
            $("#rents-loader").show();

            if (filter != null) {
                filter = "?filter=" + filter;
            }
            else {
                filter = "";
            }

            $("#rents").load("/Admin/Rent/GetRentListPartial" + filter, function () {
                $("#rents-loader").hide();
            });
        }

        function filterChanged() {
            var filter = $("#filter").val();
            loadRents(filter);
        }

        function loadDesc(btn) {
            var rentId = $(btn).data("id");

            var url = "/Admin/Rent/GetDescData?rentId=" + rentId;

            $("#modalDescBody").empty();

            $.get(url, function (data) {
                $("#modalDescBody").text(data);
            });
        }

        function showReceive(btn) {
            var rentId = $(btn).data("id");
            var url = "/Admin/Rent/GetRentReceivePartial?rentId=" + rentId;

            $("#modalReceiveBody").empty();
            $("#modalReceiveBody").load(url);
        }

        function doReceive(rentId) {
            var url = "/Admin/Rent/Receive/" + rentId;

            $("#modalReceiveBody").load(url, { }, function () {
                loadRents(null);
            });
        }
    </script>
}