@{
    ViewData["Title"] = "Rents";
}

<partial name="_PageTitlePartial" model="@ViewData["Title"]" />

<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreate" onclick="loadCreateModal()">Rent A Car</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm table-hover text-center">
            <thead>
                <tr>
                    <th>Car</th>
                    <th>Customer</th>
                    <th>Daily Price</th>
                    <th>KM</th>
                    <th>Rent Date</th>
                    <th>Received Date</th>
                    <th>Received</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ipsum.</td>
                    <td>Dolor.</td>
                    <td>Sit.</td>
                    <td>Amet.</td>
                    <td>Consectetur.</td>
                    <td>Adipiscing.</td>
                    <td>Elit.</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalDesc">Notlar</button>
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalReceive">Teslim Al</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCreate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">New Rent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="modalCreateBody" class="col">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveRent()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDesc" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Car Description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalReceive" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Car Receive</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
                <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Teslim Al</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        function loadCreateModal() {
            $("#modalCreateBody").load("/Admin/Rent/GetCreatePartial");
        }

        function saveRent() {
            var mb = $("#modalCreateBody");

            var carId = mb.find("#CarId").val();
            var custId = mb.find("#CustomerId").val();
            var km = mb.find("#KM").val();
            var price = mb.find("#Price").val();
            var recDate = mb.find("#ReceivedDate").val();
            var desc = mb.find("#Description").val();

            var data = {
                "CarId": carId,
                "CustomerId": custId,
                "KM": km,
                "Price": price,
                "ReceivedDate": recDate,
                "Description": desc
            };

            mb.load("/Admin/Rent/Create", data, null);
        }

        $(function () {
            //$("#modalCreate .modal-body .col")
            //$("#modalCreateBody").load("/Admin/Rent/GetCreatePartial");
        });
    </script>
}